@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #063031;
    margin: 40px 0;
}



/* MENU-1 */

.navbar-1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar-1 li {
    list-style: none;
}

.navbar-1 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    position: relative;
}

.navbar-1 li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all .5s;
    transform-origin: left;
}

.navbar-1 li a:hover:before {
    transform: scaleX(1);
}

.navbar-1 li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all .5s;
    transform-origin: right;
}

.navbar-1 li a:hover:after {
    transform: scaleX(1);
}




/* MENU-2 */

.navbar-2 {
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-2 li {
    list-style: none;
}

.navbar-2 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    padding: 5px 10px;
    margin: 0 10px;
    position: relative;
    transition: all .5s;
}

.navbar-2 li a:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all .3s;
}

.navbar-2 li a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

.navbar-2 li a:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all .3s;
}

.navbar-2 li a:hover:after {
    opacity: 1;
    top: -8px;
    right: -8px;
}

.navbar-2 li a:hover {
    background-color: #e91e63;

}




/* MENU-3 */

.navbar-3 {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-3 li {
    list-style: none;
}

.navbar-3 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    display: block;
    width: 120px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    transition: all .5s;
}

.navbar-3 li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: burlywood;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transition: all .5s;
    transform-origin: top;
}

.navbar-3 li a:hover span {
    transform: scaleY(1);
}

.navbar-3 li span:nth-child(2) {
    left: 25%;
    transition-delay: .15s;
}

.navbar-3 li span:nth-child(3) {
    left: 50%;
    transition-delay: .3s;
}

.navbar-3 li span:nth-child(4) {
    left: 75%;
    transition-delay: .45s;
}




/* MENU-4 */

.navbar-4 {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-4 li {
    list-style: none;
}

.navbar-4 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    padding: 5px 10px;
    margin: 0 10px;
    position: relative;
    transition: all .5s;
}

.navbar-4 li a:before {
    content: '';
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all .5s;
}

.navbar-4 li a:after {
    content: '';
    width: 0;
    height: 5px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all .5s;
}

.navbar-4 li a:hover:before {
    width: 50%;
    transform: translateX(100%);
}

.navbar-4 li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
}





/* MENU-5 */

.navbar-5 {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-5 li {
    list-style: none;
    transition: .5s;
}

.navbar-5 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 5px 10px;
    margin: 0 10px;
    position: relative;
    transition: all .5s;
}

.navbar-5 li a:hover {
    transform: scale(1.5);
}

.navbar-5 li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ee5a24;
    transition: .3s;
    transform: scale(0);
    z-index: -1;
}

.navbar-5 li a:hover:before {
    transform: scale(1);
}

.navbar-5 li a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}

.navbar-5:hover a {
    filter: blur(5px);
    opacity: 0.2;
}




/* MENU-6 */

.navbar-6 {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-6 li {
    list-style: none;
    transition: .5s;
}

.navbar-6 li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 5px 10px;
    margin: 0 10px;
    position: relative;
    transition: all .5s;
}

.navbar-6 li a:before {
    content: '';
    
}

.navbar-6 li a:after {
    content: '';
    
}

.navbar-6 li a:hover:before {
    
}

.navbar-6 li a:hover:after {
    
}